{% extends 'base.html' %}
{% block content %}
    <div class="row">
		<div class="col-md">
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>Company</th>
						<th>Client</th>
						<th>Count</th>
						<th>Date Order</th>
					</tr>
					{% for order in orders %}
						<tr>
							<td>{{order.client_company}}</td>
							<td>{{order.client_name}}</td>
							<td>{{order.count}}</td>
							<td>{{order.date_created|date:"Y-m-d"}}</td>
						</tr>
					{% endfor%}
				</table>
			</div>
		</div>
	</div>

{% endblock content %}